:root {

    --text-color: #ccc;
    --element-color-1: #EDEDED;
    --element-color-2: #DA0037;
    --element-color-3: #444444;
    --element-color-4: #171717;
    --corner-radius-1: 1rem;

    --zoom-amount: 1.2;
    --zoom-transition-time: 0.2s;
}

body{
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/BG.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Roboto Mono', monospace;
}

h1{
    font-size: 4rem;
    color: var(--element-color-1);
}

p{
    color: var(--element-color-1);
}

.navbar{
    background-color: var(--element-color-3);
}

.card-img{
    aspect-ratio: 1.2/1;
}

.row{
    width: 100%;
}

.fill{
    height: 100%;
    width: 100%;
}

.vertical-align{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.landing{
    height: 48rem;
}

.image-zoom{
    margin: 0;
    overflow: hidden;
}

.image-zoom img{
    transform: scale(1);
    transition: all var(--zoom-transition-time) ease-in-out;
}

.image-zoom:hover img{
    transition: all var(--zoom-transition-time) ease-in-out;
    transform: scale(var(--zoom-amount));
}

.container .landing{
    
}