<div class="navigation">
    <!-- Desktop Navigation -->
    <nav class="desktop-nav">   
        <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>

        <div class="logo-links">
            <a href="https://www.linkedin.com/in/lasse-foster-4188271a1">
                <img src="logos/linkedin_in_128.png" alt="linkedin_logo">
            </a>
            <a href="https://github.com/LaFoster00">
                <img src="logos/github_light_120.png" alt="github_logo">
            </a> 
        </div>
    </nav>
    <!-- Mobile Navigation -->
    <div class="mobile-nav">
        <a href="index.html" class="active">Home</a>
        <!-- Navigation links (hidden by default) -->
        <div id="mobile-links">
            <a href="projects.html">Projects</a>
            <a href="contact.html">Contact</a>
            
            <div class="logo-links">
                <a href="https://www.linkedin.com/in/lasse-foster-4188271a1">
                    <img src="logos/linkedin_in_128.png" alt="linkedin_logo">
                </a>
                <a href="https://github.com/LaFoster00">
                    <img src="logos/github_light_120.png" alt="github_logo">
                </a> 
            </div>
        </div>

        <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
        <a href="javascript:void(0);" class="icon" onclick="mobileNavExpand()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>